@model HospitalApp.Models.Doctor
@{
    ViewData["Title"] = "Thêm bác sĩ";
    Layout = "~/Areas/Dashboard/Views/Shared/_DashboardLayout.cshtml";
}
<h2>@ViewData["Title"]</h2>

@if (TempData["Success"] != null)
{
    <div class="alert alert-success">@TempData["Success"]</div>
}

<form asp-area="Dashboard" asp-controller="Doctors" asp-action="Create" method="post">
    <div asp-validation-summary="All" class="text-danger"></div>
    <hr />
    <div class="mb-3">
        <label asp-for="FullName" class="form-label"></label>
        <input asp-for="FullName" class="form-control" />
        <span asp-validation-for="FullName" class="text-danger"></span>
    </div>

    <div class="mb-3">
        <label asp-for="PhoneNumber" class="form-label"></label>
        <input asp-for="PhoneNumber" class="form-control" />
        <span asp-validation-for="PhoneNumber" class="text-danger"></span>
        <div class="form-text">
            SĐT dùng làm UserName; email tạm: [sđt]@@hospital.local
        </div>
    </div>

    <div class="mb-3">
        <label class="form-label">Chức danh</label>
        <select asp-for="PositionId" class="form-select" asp-items="ViewBag.PositionId"></select>
        <span asp-validation-for="PositionId" class="text-danger"></span>
    </div>

    <div class="mb-3">
        <label class="form-label">Chuyên môn</label>
        <select asp-for="ExpertiseId" class="form-select" asp-items="ViewBag.ExpertiseId"></select>
        <span asp-validation-for="ExpertiseId" class="text-danger"></span>
    </div>

    <button class="btn btn-primary">Lưu</button>
    <a asp-area="Dashboard" asp-controller="Doctors" asp-action="Index" class="btn btn-secondary">Hủy</a>
</form>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
