@model HospitalApp.Models.Expertise
@{
    Layout = "~/Areas/Dashboard/Views/Shared/_DashboardLayout.cshtml";
}
<h2>Thêm chuyên môn</h2>
<form method="post">
    @Html.AntiForgeryToken()
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <div class="mb-3">
        <label asp-for="Name" class="form-label"></label>
        <input asp-for="Name" class="form-control" />
        <span asp-validation-for="Name" class="text-danger"></span>
    </div>
    <button class="btn btn-primary">Lưu</button>
    <a class="btn btn-secondary" asp-action="Index">Hủy</a>
</form>
@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
